doctype html
html(lang='es')

  head
    meta(charset='utf-8')
    meta(name='description', content='Pruebatecnica')
    meta(name='keywords', content='Prueba tecnica')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/main.js")
    
  body


    block content


block scripts